* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 100px;
    background: black;
}

.logo img {
    width: 5rem;
}

.logo {
    display: flex;
    align-items: end;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
    right: 0;
    padding-left: 67rem;
    padding-bottom: 3rem;

}

header {
    background: black;
    height: 5rem;
}

.home {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.home1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 6rem;
    margin-top: 6rem;
}

.home1 .pic {
    /* padding: 20px; */
    /* box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%); */
    border-radius: 0.5rem;
    position: relative;
}

.home1 img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

/* .home {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
} */




/* .home {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.home1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 6.5rem;
    margin-top: 1rem;
}

.sub-menu-1 {
    display: none;
} */

/* .menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(121, 121, 206);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
} */





/* .home1 .pic {
    padding: 30px;
    border-radius: 0.5rem;
    position: relative;


} */

/* .home1 img {
    width: 100%;
    height: 400px;
    /* object-fit: contain; */
/* object-position: center;
    gap: 2rem;
} */

.pic a {
    color: black;
    font-size: 1.1rem;
    text-align: center;
    transition: 0.3s;
}

.pic h1 {
    align-items: center;
    text-align: center;
    font-weight: 300;
    padding-top: 1rem;
}

.dropdown * {
    box-sizing: border-box;
}



.select {
    /* background: #2a2f3b; */
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px #2a2f3b solid; */
    border-radius: 0.5rem;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    /* text-align: center; */
    /* padding-right: 2em; */
}

.pic a:hover {
    color: gray;
}

/* .select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
} */

.selected {
    padding-left: 4em;
    border-left: 1em;
}

/* .select:hover {
    background: #323741;
} */

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: white;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    color: black;
    position: absolute;
    /* top: 3em; */
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;

}

.menu li:hover {
    background: #2a2d35;
    color: aliceblue;

}



.active {
    background: #23242a;
    color: aliceblue;
}

.menu-open {
    display: block;
    opacity: 1;
}