.home {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.dice {
    grid-template-columns: repeat(auto-fit, minmax(560px, auto));
    display: grid;
    gap: 2rem;
    font-size: 2em;

}

header {
    background: black;
    height: 5rem;
    color: aliceblue;
    padding-right: 1.5rem;
    cursor: pointer;
}

* {
    font-family: sans-serif;
    margin: 0;
}

.number .bx {
    padding-right: 0.5rem;
}

.number {
    font-size: 2em;
    padding-top: 1.5rem;
    text-align: right;
}


.services {
    padding-bottom: 6rem;
}

.serve {
    padding-top: 1rem;
}

.service-spaced {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 4rem;
    margin-top: 3rem;

}


.ser h1 {
    font-size: 2em;
    font-family: sans-serif;
    color: white;
}

.spaced img {
    width: 320px;
    height: 250px;
    border-radius: 20px;
}

.dice1 {
    padding-top: 0.5em;
    padding-left: 9rem;
}

.dice2 {
    padding-top: 0.5em;
    padding-right: 9rem;
}

.service-text {
    padding-top: 50px;
}

.service2 .par {
    text-align: center;
}

.set .part {
    text-align: center;
    padding-left: 9rem;
    padding-right: 9rem;
    font-size: 2em;
}

.home1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 5rem;
    margin-top: 5rem;
}

.home1 .pic {
    padding: 30px;

    position: relative;
}

.home1 img {
    width: 400px;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.service-text .par {
    font-size: 3rem;
    font-family: sans-serif;
}


.service-text .part {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 1.2rem;
}

.service-text li {
    font-size: 1.1rem;
}