* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    /* list-style: none; */

    text-decoration: none;
    /* scroll-padding-top: 2rem;
    scroll-behavior: smooth; */
    */
}

.bx {
    padding-right: 2rem;
}

.service-text .service2 .par {
    font-size: 3rem;
    padding-top: 0.5rem;
    font-family: sans-serif;
    padding-bottom: 0;
    padding-top: 2rem;
}

header {
    background: black;
    height: 5rem;
    color: aliceblue;
    padding-right: 1.5rem;
    cursor: pointer;
}

.number .bx {
    padding-right: 0.5rem;
}

.number {
    font-size: 2em;
    padding-top: 1.5rem;
    text-align: right;
}

.service-text .service2 .para {
    font-size: 1.2rem;
    font-family: sans-serif;
    padding-top: 2em;


}

.service-text .service2 .par {
    padding-top: 1.5em;
}

.service-text .service2 {
    line-height: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.service-space {
    background: black;
    border-radius: 50%;
    width: 40rem;
    height: 40rem;
    padding-left: 1rem;
}

.space {
    padding-left: 2rem;
    padding-top: 5rem;

}

.service-text .para,
.service-text .pat,
.service-text .parti {
    font-weight: 400;
}

.space img {
    width: 20rem;
}







.service-space {

    display: grid;
    /* gap: 5rem; */
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    padding-top: 1rem;



}

.service-text h2 {
    font-size: 1rem;
    font-family: sans-serif;
}

.service-text h2 {
    padding-top: 1rem;
}

.service-text {
    line-height: 1.2rem;
    padding-right: 5rem;
    padding-top: 4rem;
}

/* .services {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
} */

.servicess {
    display: grid;
    gap: 6rem;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    padding-top: 0.5px;

}

.service-space .three {
    padding-left: 2em;
    padding-top: 5rem;
}

.service-space .two {
    padding-top: 5rem;
}

.service-space .four {
    padding-left: 9rem;
}

.serve {

    display: grid;
    /* gap: 5rem; */
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));



}

.services {
    padding-bottom: 6rem;
}

.serve {
    padding-top: 1rem;
}

.service-spaced {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 4rem;
    margin-top: 3rem;

}



.ser {
    padding-left: 4rem;
    background: black;

}

.ser h1 {
    font-size: 2em;
    font-family: sans-serif;
    color: white;
    padding-top: 0.5em;
}

.spaced img {
    width: 340px;
    height: 250px;
    border-radius: 20px;
}